
.wrapper{
margin: 0 auto;
width:624px;
border:1px solid #dddddd;
}

header{
    background:#550106;
    height:50px;
}

menu{
    background:#2E3E4F;
    height:50px;
    padding-left:0;
    margin:0 auto;
}


.nav{
  line-height: 50px;
  color:#ffffff;
}

ul{
  margin:0px;
  padding-left:32px;
  list-style-type: none;
}

li {
  float:left;
  padding-right:5px;
}

li a {
    display: block;
    color: white;
    text-decoration: none;
}

.container1{
  background:#EA261B;
  height:385px;
}

.container2{
  background:#550106;
  height:225px;
  margin:64px 10px 32px 10px;
  padding-bottom:64px;
}

.container3{
  background:#550106;
  height:225px;
  margin:64px 10px 32px 10px;
}

.container4{
  background:#550106;
  height:225px;
  margin:64px 10px 32px 10px;
}

.container5{
  background:#550106;
  height:225px;
  margin:64px 10px 32px 10px;
}

.container6{
  background:#230001;
  height:917px;
}

.container7{
  padding-top:140px;
  background:#A10A10;
  height:622px;
}

.content{
  background:#D87F7E;
  height:412px;
  margin:0 32px 70px 32px;
}

.footer{
  background:#230001;
  height:204px;
}

.section1{
  background:#288ED3;
  height:217px;
  padding:100px 0 0 0;
}

.button {
  width:309px;
  margin:0 0 0 156px;
  font-size: 24px;
  color:#ffffff;
  border: 3px solid #EDECF1;
  padding:17px 0 17px 0;
  text-align: center;
}

.element1{
  height:44px;
  width:314px;
  margin:14px 0 0 156px;
  background-color:#BFE0F6;
  text-align: center;
}

.element2{
  height:35px;
  width:171px;
  margin:14px 0 0 226px;
  background-color:#ffffff;
  text-align: center;
}

.section2{
  background:#35495D;
  height:46px;
  margin:40px 0 34px 0;
}

.section3{
  background:#288ED3;
  height:136px;
  margin:0 14px 26px 14px;
}

.section4{
  background:#288ED3;
  height:136px;
  margin:0 14px 26px 14px;
}

.section5{
  background:#288ED3;
  height:136px;
  margin:0 14px 26px 14px;
}

.section6{
  background:#288ED3;
  height:136px;
  margin:0 14px 26px 14px;
}

.section7{
  background:#35495D;
  height:427px;
  margin:0 14px 40px 14px;
  padding-top:1px;

}

.content1{
  background:#909DAA;
  height:376px;
  margin:27px 27px 0 27px;

}

.section8{
  background:#35495D;
  height:45px;
}

.section9{
  background:#7F8C8D;
  height:277px;
  margin:47px 27px 44px 27px;
}

.section10{
  background:#35495D;
  height:23px;
  margin:0 27px 36px 27px;
}

.section11{
  background:#7F8C8D;
  height:112px;
  margin:0 27px 36px 27px;
}

.section12{
  background:#35495D;
  height:23px;
  margin:0 27px 36px 27px;
}

.section13{
  background:#7F8C8D;
  height:112px;
  margin:0 27px 44px 27px;
}

.footer1{
  background:#111111;
  padding:14px 0 14px 0;
}

.subfooter{
  background:#7F8C8D;
  height:44px;
  margin:0 14px 0 14px;

}
